body {
	color: #ffffff;
	font-family:Monospace;
	font-size:13px;
	text-align:center;

	background-color: #ffffff;
	margin: 0px;
	overflow: hidden;
}

#about {
	position: absolute;
	top: 0px; width: 100%;
	padding: 5px;
}

#more {
	position: absolute;
	bottom: 0px; width: 100%;
	padding: 5px;
}
